body {
  background: #222;
}
.container {
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
  position: fixed;
}
.word-box {
  display: flex;
  justify-content: center;
}
.word-box:focus {
  outline: none;
}
.letter-box {
  width: 50px;
  height: 55px;
  border: 2px solid black;
  border-radius: 10px;
  background: #6d6e6a;
  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Spectral", serif;
}

.correct-medium {
  background: rgb(122, 113, 32);
}

.correct-same {
  background: rgb(19, 129, 28);
}
