body {
  margin: auto;
  background: #222;
}
.word-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.word-box:focus {
  outline: none;
}
.letter-box {
  width: 50px;
  height: 55px;
  border: 2px solid black;
  border-radius: 10px;
  background: #6d6e6a;
  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Spectral", serif;
}

.przerwa {
  margin-top: 200px;
}

.correct-medium {
  background: rgb(122, 113, 32);
}

.correct-same {
  background: rgb(19, 129, 28);
}
